.InputBlock {
  margin-top: 5vh;
  margin-left: 5vh;
  margin-right: 5vh;
}

.OutputBlock {
  margin: 5vh;
}

.InputBlock-input_field {
  min-height: 50%;
  min-width: 100%;
}

.block {
  margin-bottom: 7vh;
}

.btnClear {
  margin-right: 1em;
}
